
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Education</h2>
@{ 
    <p>
        May 2020<br />
        Bachelor Of Engineering in Computer Science Engineering, Priyadarshini Bhagwati Nagpur.<br />
        Graduated with Distinction with the Cgpa Of 8.13.<br />

        Feb 2016<br />
        12Th Science, Ashok Junior College,Umred.<br />
        Passed with 2nd Division.<br />

        March 2014<br />
        10Th, Jeevan Vikas Vanita Vidyalaya, Umred.<br />
        Passed with 1st Division.


    </p>
}
