
@{
    ViewBag.Title = "RolesAndResponsibility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RolesAndResponsibility</h2>
@{ 
    <p>
        	Involved in gathering the requirements on client calls and implementing the solution based on the configuration and customization.<br />
        	Implemented various validation rules to prevent erroneous data from entering the database.<br />
        	Helped in implementing the security model according to business needs.<br />
        	Created automation on cases using process builder and Workflow rules.<br />
        	Helped in uploading data into the org using data loader.<br />
        	Implemented approval process for the employee approval.<br />
        	Created permission sets and assigned them to specific users for the security model of the organization.<br />
        	Worked on sharing rules to share records to public groups and queues.<br />
        	Exported and scheduled reports from time to time according to requirements.


    </p>
}
