
@{
    ViewBag.Title = "ProfessionalExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProfessionalExperience</h2>
@{ 
    <p>
        	Salesforce Internship experience 1 Year (6-month training and 6-month Live Projects)<br />
        	CS Cloud Infotech, Nagpur (From August 2021 to August 2022)



    </p>
}
