
@{
    ViewBag.Title = "Dclaration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dclaration</h2>
@{ 
    <p>
        I hereby declare that the particulars provided here in are true to the best of my knowledge and belief. I am aware that any controversy between the above-mentioned information and the reality may lead to my rejection.<br />

        <br />
        Mayuri Shendre<br />
        Place: Nagpur

    </p>
}
