
@{
    ViewBag.Title = "ProfessionalSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProfessionalSummary</h2>
@{ 
    <p>

        	Active Trailblazer and Rank is Mountaineer with 34000+ Points, and 25+ Badges.<br />
        	Work Experience of a total of 0 to 1 year in Salesforce Development, Administration, Lightning, Implementation, and Customization Support of Salesforce CRM based on Admin and application on Force.com Platform.<br />
        	Responsible for maintaining the functional areas of data management, Implementing Service and Sales processes covering Cases, Leads, Accounts, Contacts, and Opportunities.<br />
        	Having good knowledge of various Data management tools like Data Import Wizard, Data loader, and Third-party data management tools. Well-versed with implementation, of Bulk Data Import/Export, Upsert, and Mass deletion using various Data management tools.<br />
        	Extensive experience in configuring Salesforce.com CRM application by customizing standard objects, creating custom objects, validation rules, relationships, apps, tabs, page layouts, profiles, permission sets, sharing rules, workflows, approval process, reports and dashboards, and data loader.<br />
        	Created workflow rules and defined related tasks, email alerts, and field updates.<br />
        	Experienced with providing security controls to users by using Profiles, Roles, Permission Set and OWD Settings.<br />
        	Defined lookup and master-detail relationships on the objects and created junction objects to establish connectivity among objects for creating many to many relationships.<br />
        	Good Knowledge of Force.com Platform Apex Classes, Apex Triggers, and Batch Apex.<br />
        	Excellent work ethic, self-motivated, quick learner, and team-oriented. Continually provided value-added services to the clients through thoughtful experience and excellent communication skills.<br />

    </p>
}
