
@{
    ViewBag.Title = "CareerObjectives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CareerObjectives</h2>
@{ 
    <p>
        To be a part of a progressive organization that gives a scope to enhance my knowledge and utilizes my skills for the growth of the organization.
    </p>
}
