
@{
    ViewBag.Title = "Technical Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Technical Skills</h2>
@{ 
    <p>
        	Salesforce Platform, Apex trigger, Batch Apex, SOQL, SOSL, etc. <br>
        	Languages: C,C++,C#, HTML ,CSS ,Bootstraping.

    </p>

}
