
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Headings/Index.cshtml";
}

<h2>Index</h2>
@{ 
    <p>
        Mayuri Shendre
        Contact-(+91)9657057182
        Email:mayurishendre.sfdc@gmail.com
        LinkedIn Id-https://www.linkedin.com/in/mayuri-shendre-b33800216

    </p>
    }