
@{
    ViewBag.Title = "ProjectDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProjectDetails</h2>
@{ 
    <p>
        ▪	 International Conference-An Event Management System :<br />
        An Event Management system (Software) helps organizers to plan,execute and reports on events driving success for their Event.The main moto of this project is to provide safe and secure user interface will allow users and organizers to access and manage all aspects of an event,including registration, marketing,engagements, integrations, physical planning and reporting & analytics and more.<br />

        ▪	Canteen Automation System :<br />
        Canteen Automation System, Its objective is to auotomate the existing manual system with the help of advance computerized software,so that valuable data can be stored for longer period with easy      accessing and manipulation of the same.Canteen Automation system Application is to manage and maintain the users orders,users can surf the food items in canteen according to categories and online payment options are available to user.<br />

    </p>
}
